# OpenStack Management network bridge
auto br-mgmt
iface br-mgmt inet static
  bridge_stp off
  bridge_waitport 0
  bridge_fd 0
  bridge_ports {{ bridge_management_interface }}
  address {{ bridge_ip }}
  netmask {{ bridge_netmask }}
  gateway {{ bridge_gateway }}